.body {
  background: skyblue;
}

span.font{
font-family:"HGP行書体";
}

.btn{
padding: 9px 15px;
background: white;
color: #111111;
border: 2px solid #000;
border-radius: 4px;
}

.btn:hover {
color: #fff;
background: #000;
}

.txt{
  display: inline-block;
  padding: 11.6px 20px;
  border: 2px solid;
  border-radius: 4px;
  box-sizing: border-box;
}